In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
heart_data=pd.read_csv("heart.csv")

In [3]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
heart_data.shape
# number of rows and columns in the dataset

(1025, 14)

In [6]:
# to get info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
age         1025 non-null int64
sex         1025 non-null int64
cp          1025 non-null int64
trestbps    1025 non-null int64
chol        1025 non-null int64
fbs         1025 non-null int64
restecg     1025 non-null int64
thalach     1025 non-null int64
exang       1025 non-null int64
oldpeak     1025 non-null float64
slope       1025 non-null int64
ca          1025 non-null int64
thal        1025 non-null int64
target      1025 non-null int64
dtypes: float64(1), int64(13)
memory usage: 112.1 KB

In [7]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

In [ ]:
# 1 --> Defective Heart

# 0 --> Healthy Heart

In [10]:
# Splitting the Features and Target
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [11]:
print(X)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
5      58    0   0       100   248    0        0      122      0      1.0
6      58    1   0       114   318    0        2      140      0      4.4
7      55    1   0       160   289    0        0      145      1      0.8
8      46    1   0       120   249    0        0      144      0      0.8
9      54    1   0       122   286    0        0      116      1      3.2
10     71    0   0       112   149    0        1      125      0      1.6
11     43    0   0       132   341    1        0      136      1      3.0
12     34    0   1       118   210    0        1      192      0      0.7
13     51    1   0       140   298    0        1      122      1      4.2
14     52    1   0       128   204    1        1      156      1      1.0
15     34    0   1       118   210    0        1      192      0      0.7
16     51    0   2       140   308    0        0      142      0      1.5
17     54    1   0       124   266    0        0      109      1      2.2
18     50    0   1       120   244    0        1      162      0      1.1
19     58    1   2       140   211    1        0      165      0      0.0
20     60    1   2       140   185    0        0      155      0      3.0
21     67    0   0       106   223    0        1      142      0      0.3
22     45    1   0       104   208    0        0      148      1      3.0
23     63    0   2       135   252    0        0      172      0      0.0
24     42    0   2       120   209    0        1      173      0      0.0
25     61    0   0       145   307    0        0      146      1      1.0
26     44    1   2       130   233    0        1      179      1      0.4
27     58    0   1       136   319    1        0      152      0      0.0
28     56    1   2       130   256    1        0      142      1      0.6
29     55    0   0       180   327    0        2      117      1      3.4
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
995    44    1   1       120   263    0        1      173      0      0.0
996    56    0   0       134   409    0        0      150      1      1.9
997    54    1   0       120   188    0        1      113      0      1.4
998    42    1   0       136   315    0        1      125      1      1.8
999    67    1   0       125   254    1        1      163      0      0.2
1000   64    1   0       145   212    0        0      132      0      2.0
1001   42    1   0       140   226    0        1      178      0      0.0
1002   66    1   0       112   212    0        0      132      1      0.1
1003   52    1   0       108   233    1        1      147      0      0.1
1004   51    0   2       140   308    0        0      142      0      1.5
1005   55    0   0       128   205    0        2      130      1      2.0
1006   58    1   2       140   211    1        0      165      0      0.0
1007   56    1   3       120   193    0        0      162      0      1.9
1008   42    1   1       120   295    0        1      162      0      0.0
1009   40    1   0       152   223    0        1      181      0      0.0
1010   51    1   0       140   299    0        1      173      1      1.6
1011   45    1   1       128   308    0        0      170      0      0.0
1012   48    1   1       110   229    0        1      168      0      1.0
1013   58    1   0       114   318    0        2      140      0      4.4
1014   44    0   2       108   141    0        1      175      0      0.6
1015   58    1   0       128   216    0        0      131      1      2.2
1016   65    1   3       138   282    1        0      174      0      1.4
1017   53    1   0       123   282    0        1       95      1      2.0
1018   41    1   0       110   172    0        0      158      0      0.0
1019   47    1   0       112   204    0        1      143      0      0.1
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
5         1   0     2
6         0   3     1
7         1   1     3
8         2   0     3
9         1   2     2
10        1   0     2
11        1   0     3
12        2   0     2
13        1   3     3
14        1   0     0
15        2   0     2
16        2   1     2
17        1   1     3
18        2   0     2
19        2   0     2
20        1   0     2
21        2   2     2
22        1   0     2
23        2   0     2
24        1   0     2
25        1   0     3
26        2   0     2
27        2   2     2
28        1   1     1
29        1   0     2
...     ...  ..   ...
995       2   0     3
996       1   2     3
997       1   1     3
998       1   0     1
999       1   2     3
1000      1   2     1
1001      2   0     2
1002      2   1     2
1003      2   3     3
1004      2   1     2
1005      1   1     3
1006      2   0     2
1007      1   0     3
1008      2   0     2
1009      2   0     3
1010      2   0     3
1011      2   0     2
1012      0   0     3
1013      0   3     1
1014      1   0     2
1015      1   3     3
1016      1   1     2
1017      1   2     3
1018      2   0     3
1019      2   0     2
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [12]:
print(Y)

0       0
1       0
2       0
3       0
4       0
5       1
6       0
7       0
8       0
9       0
10      1
11      0
12      1
13      0
14      0
15      1
16      1
17      0
18      1
19      1
20      0
21      1
22      1
23      1
24      1
25      0
26      1
27      0
28      0
29      0
       ..
995     1
996     0
997     0
998     0
999     0
1000    0
1001    1
1002    0
1003    1
1004    1
1005    0
1006    1
1007    1
1008    1
1009    0
1010    0
1011    1
1012    0
1013    0
1014    1
1015    0
1016    0
1017    0
1018    0
1019    1
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

In [13]:
# Splitting the Data into Training data & Test Data

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [14]:
print(X.shape, X_train.shape, X_test.shape)

(1025, 13) (820, 13) (205, 13)

In [15]:
# Model Training

# Logistic Regression

In [16]:
model = LogisticRegression()

In [17]:
# training the LogisticRegression model with Training data
model.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [18]:
# Model Evaluation

# Accuracy Score

In [19]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [20]:
print('Accuracy on Training data : ', training_data_accuracy)

Accuracy on Training data :  0.8524390243902439

In [21]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [22]:
print('Accuracy on Test data : ', test_data_accuracy)

Accuracy on Test data :  0.8048780487804879

In [23]:
# Building a Predictive System

input_data = (50,0,1,120,244,0,1,162,0,1.1,2,0,2)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[1]
The Person has Heart Disease